<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Task | Main</title>
  	<meta name="author" content="Satwik Bhattamishra">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<div id="header">HONEYNET TASK: Flask Login App</div>
<div id="content">
	<h2 class="center">Landing Page</h2>
	<a href='./login/'>
		<button class="btn">Log In</button>
	</a>
	<a href='./register/'>
		<button class="btn">Register</button>
	</a>
</div>


</body>
</html>